/****** Responsive Tab ***********/
@media (max-width: 1024px) {
    /*** filter ***/
    .wgt-filter{
        width: 100%;
    }
    
    /*** hosting section ***/
    .hosting-section{
        flex-direction: column;
        gap: 50px;
    }
    .hebergement{
        width: 100%;
    }
    .populaire{
        width: 100%;
    }
    .populaire-cards{
        flex-direction: row;
    }
    .populaire-cards a{
        width: 33%;
    }
    
    /*** activité marseille ***/
    .activity-article{
        height: 270px;
    }
    article img{
        height: 200px;
        
    }
    }